target/
*.class
*.jar
*.war
*.ear
*.logs
*.log
.git
.gitignore
.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
.idea
*.iws
*.iml
*.ipr
.settings
.project
.classpath
.factorypath
.vscode
*.swp
*.swo
*~
.DS_Store
Thumbs.db